<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kando.dao.RoleAuthDao">
    <resultMap id="RoleAuthMap" type="com.kando.entity.RoleAuth">
        <id property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="authId" column="auth_id"/>
    </resultMap>

    <select id="selectAuth" resultMap="RoleAuthMap">
        select * from sys_role_authority where role_id=#{id}
    </select>
</mapper>