<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kando.dao.RoleDao">

    <resultMap type="com.kando.entity.Role" id="RoleMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" javaType="java.sql.Date" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
    </resultMap>

    <select id="queryAllRoles" resultMap="RoleMap">
        select role.id,role.name,role.description,role.status,role.create_time,role.create_user_id from sys_role role ORDER BY create_time desc
    </select>
    <select id="queryAllRolesLike" resultMap="RoleMap">
        select * from sys_role where name like #{field} ORDER BY create_time desc
    </select>
    <select id="queryAll" resultMap="RoleMap">
        select * from sys_role
    </select>
    <select id="selectRole" resultMap="RoleMap">
        select * from sys_role where id=#{id}
    </select>


    <insert id="inserRole" keyProperty="id" useGeneratedKeys="true" parameterType="com.kando.entity.Role">
        INSERT INTO sys_role(name,description,create_time,create_user_id,status) values(#{name},#{description},current_timestamp(),#{createUserId},#{status})
    </insert>
    <delete id="deleteRole" parameterType="java.lang.Integer">
        delete  from sys_role where id=#{id}
    </delete>
    <update id="updateRole" parameterType="com.kando.entity.Role">
        update sys_role set name=#{name},description=#{description},status=#{status} where id=#{id}
    </update>

</mapper>