<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kando.dao.UserRoleDao">
    <cache eviction="LRU" type="com.kando.configuration.RedisCache" />
<!--        <resultMap id="UserRoleResultMap" type="com.kando.entity.UserRole">-->
<!--            <id column="id" property="id" jdbcType="INTEGER" />-->
<!--            <result column="user_id" property="userId" jdbcType="INTEGER" />-->
<!--            <result column="role_id" property="roleId" jdbcType="INTEGER" />-->
<!--        </resultMap>-->
   <select id="selectRoleId" resultType="java.lang.Integer">
       select role_id from sys_user_role where user_id=#{userId}
   </select>
    <delete id="deleteRoleId" parameterType="java.lang.Integer" flushCache="true">
        delete from sys_user_role where user_id = #{userId}
    </delete>
    <insert id="insertRoleId" flushCache="true">
        insert into sys_user_role(user_id,role_id) values(#{userId},#{roleId})
    </insert>
</mapper>